@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

body {
  font-family: 'Droid Serif';
}

.remark-slide-content {
  background: #272727;
  color: #eeeeee;
  font-size: 20pt;
  text-align: center;
}

.remark-slide-content a {
  color: #ffaaff;
  text-decoration: none;
}

.remark-slide-content.inverse {
  background: #ffffff;
  color: #555555;
}

.remark-slide-scaler {
  box-shadow: none;
}

.remark-slide-content h1,
.remark-slide-content h2,
.remark-slide-content h3 {
  color: #f3f3f3;
  font-family: 'Yanone Kaffeesatz';
  font-weight: 400;
  line-height: 1.2em;
}

.remark-slide-content h1 {
  font-size: 2.4em;
}

.remark-slide-content h2 {
  font-size: 2em;
}

.remark-slide-content h3 {
  font-size: 1.6em;
}

.remark-slide-content ul,
.remark-slide-content ol {
  list-style: none;
  padding-left: 0;
}

.remark-slide-content li {
  margin-bottom: .5em;
}

.remark-slide-content img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.underscore-brand {
  display: block;
  margin-top: 1.8em;
}

.underscore-brand img {
  max-width: 25%;
}

.underscore-logo img {
  max-width: 50%;
}

.scala-logo img {
  max-width: 70%;
}

.js-logo img {
  max-width: 50%;
}

.footnote {
  position: absolute;
  bottom: 1em;
  left: 0;
  right: 0;
  text-align: center;
  opacity: .5;
  font-size: .6em;
}

.remark-code,
.remark-inline-code {
  font-size: 80%;
  text-align: left;
  font-family: 'Ubuntu Mono';
  line-height: 1.2em;
}

.remark-code {
  background: rgba(0, 0, 0, .2) !important;
}

.remark-inline-code {
  background: transparent;
}

.remark-code-line-highlighted {
  background-color: #776677;
}

.pull-left {
  float: left;
  width: 47%;
}

.pull-right {
  float: right;
  width: 47%;
}

.pull-right ~ p {
  clear: both;
}


/*
.footnote {
  position: absolute;
  bottom: 3em;
}

.red { color: #fa0000; }

.large { font-size: 2em; }

a, a > code {
  color: rgb(249, 38, 114);
  text-decoration: none;
}

code {
  background: #e7e8e2;
  border-radius: 5px;
}

#slideshow .slide .content code {
  font-size: 0.8em;
}

#slideshow .slide .content pre code {
  font-size: 0.9em;
  padding: 15px;
}

.inverse {
  background: #272822;
  color: #777872;
  text-shadow: 0 0 20px #333;
}

.inverse h1, .inverse h2 {
  color: #f3f3f3;
  line-height: 0.8em;
}

/* Slide-specific styling */
#slide-inverse .footnote {
  bottom: 12px;
  left: 20px;
}

#slide-how .slides {
  font-size: 0.9em;
  position: absolute;
  top:  151px;
  right: 140px;
}

#slide-how .slides h3 {
  margin-top: 0.2em;
}

#slide-how .slides .first, #slide-how .slides .second {
  padding: 1px 20px;
  height: 90px;
  width: 120px;
  -moz-box-shadow: 0 0 10px #777;
  -webkit-box-shadow: 0 0 10px #777;
  box-shadow: 0 0 10px #777;
}

#slide-how .slides .first {
  background: #fff;
  position: absolute;
  top: 20%;
  left: 20%;
  z-index: 1;
}

#slide-how .slides .second {
  position: relative;
  background: #fff;
  z-index: 0;
}

/* Two-column layout */
.left-column {
  color: #777;
  width: 20%;
  height: 92%;
  float: left;
}

.left-column h2:last-of-type, .left-column h3:last-child {
  color: #000;
}

.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}
*/